<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}blah{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/vendor/d3.v3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/blocks.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
